.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 2%;
  padding: 3%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: gray;
  border-radius: 20%;
  width: 9.5%;
  border: 1px solid white;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(3deg);
}

.pokemon-img {
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

.pokemon-name {
  color: black;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  justify-self: center;
}

.center-self {
  align-self: center;
  justify-self: center;
}

.unclickable {
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}